@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-FD.eot");
  src: url("../fonts/Vazir-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-FD.woff2") format("woff2"),
    url("../fonts/Vazir-FD.woff") format("woff"),
    url("../fonts/Vazir-FD.ttf") format("truetype");
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-Bold-FD.eot");
  src: url("../fonts/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Bold-FD.woff2") format("woff2"),
    url("../fonts/Vazir-Bold-FD.woff") format("woff"),
    url("../fonts/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: vazir !important;
}

select,
select option {
  font-family: vazir !important;
}

select,
select option {
  font-family: Vazir !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}



a {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

.atlas-n {
  display: none !important;
}

.atlas-row {
  width: 80%;
}

body {
  background: url('../image/Vector.png') repeat-x;
}

.atlas-search {
  position: relative;
}


.atlas-search .search-img {
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 5px;
}

.atlas-search input {
  border-color: #E0AD70;
  padding-right: 40px;
  padding-left: 40px;
}

.atlas-search .search-button {
  z-index: 10;
  position: absolute;
  left: 5px;
  top: 5px;
}

.search-button,
.close-modal {
  cursor: pointer;
}

.home-search-box {
  background: url('../image/home-search-box.png') no-repeat;

}

.home-search-box .home-search-box-input {
  position: relative;
}

.home-search-box .home-btn {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 5px;

}

.city-head-box {
  background: url('../image/city_head.png') no-repeat;
  background-size: cover;
}

.atlas-share img {
  width: 25px;
  height: 25px;
}

.select2-selection__clear {
  float: right;
}

.atlas-share a {
  transition: filter 0.3s ease, transform 0.3s ease;

}

.atlas-share a:hover {
  filter: sepia(1) hue-rotate(200deg) saturate(2);
  transform: scale(1.05);

}


.institute-head-box {
  background-color: #37BEC1;
  border-radius: 16px;
}

.page-name-center {
  border: 2px solid #E0AD70;
}

.institute {
  border: 1px solid #F3F5FF;
  border-radius: 8px;
}



.atlas-paginate span {
  width: 40px;
  height: 40px;
  line-height: 2.5;
  background-color: #37BEC1;
  color: #FFFFFF;
}

.atlas-paginate a {
  width: 40px;
  height: 40px;
  line-height: 2.5;
  color: #37BEC1;

}

.institute-info {
  background-color: #F3F5FF;
  border: 1px solid #D8DBF0;
  border-radius: 16px;
}

.institute-info .atlas-title {
  color: #393C97;
  font-size: 16px;
}

.institute-info .atlas-comment-content {
  color: #393C97;
  font-size: 14px;

}

.atlas-contact a,
.institute-info hr,
.institute-info b,
.institute-info label {
  color: #37BEC1;
}

.rating-stars i.bi-star,
.rating-stars i.bi-star-fill {
  color: #E0AD70;
  font-size: 20px;

}

.atlas-table-parent {
  top: 50px;
}

.atlas-table-list {
  color: #393C97;
  cursor: pointer;

}



.atlas-table-list img {
  width: 32px;
  height: 32px;
}

.atlas-table-list.atlas-active,
.atlas-table-list:hover {
  background-color: #37BEC1;
  color: #FFF;
}

.atlas-table-list.atlas-active img {

  filter: invert(100%) brightness(300%);

}

.atlas-table-list:hover img {
  filter: invert(100%) brightness(300%);

}


.institute-info .atlas-subject {
  background: url('../image/subject-back.png') no-repeat;
  background-size: cover;
  width: 24%;

}

.institute-info .atlas-subject .atlas-subject-title {
  font-size: 22px;

}

.institute-info .atlas-subject .atlas-subject-head b {
  font-size: 12px;

}

.institute-info .atlas-subject .atlas-subject-head img {
  width: 12px;

}

.institute-block .atlas-row {
  background-color: #F6F2EE;
  border: 1px solid #E0AD70;
  border-radius: 16px;
}

.institute-block .atlas-title {
  color: #E0AD70;
  font-size: 16px;
}

.institute-block b {
  color: #E0AD70;
}



.atlas-contact img {
  width: 30px;
  height: 30px;
}


.mrsms_page_item {
  color: #393C97;
}


.institute .institute-title a {
  color: #393C97;
  font-size: 14px;
}


.institute .institute-img {
  height: 85px;
  object-fit: contain;

}

.institute .btn-new {
  background: #06e1b0;
  color: #000000;
  border-radius: 8px;
  font-size: 10px;
  padding: 7px;
  box-shadow: 0 2px 8px rgba(4, 10, 31, .08);
}

.item-details {
  border-top: 1px solid #E0AD70;
}


.map-filter {
  border: 1px solid #E0AD70;
  border-radius: 10px;

}

.map-province {
  background-color: #D8DBF0;
  color: #393C97;
}

.map-city-parent {
  position: sticky;
  top: 45px;
  height: 500px;
}

.item-details div {
  color: #37BEC1;
  font-size: 12px;
}


.home-search-box-input .select2-container .select2-selection--single {
  height: calc(3.5rem + 2px);
  line-height: calc(3.5rem);
  border-radius: 0.375rem;
  background-color: #FFFFFF;
}

.atlas-home .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0.375rem 0.75rem;
  text-align: right;
}

.atlas-home .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 1rem;
}

.atlas-home .select2-container--default .select2-results__option {
  text-align: right;
}

.select2-dropdown {
  max-height: 300px !important;
  overflow-y: auto !important;
}


.close-search {
  cursor: pointer;
}

.atlas-city .select2.select2-container.select2-container--bootstrap-5 {
  border: 1px solid #37BEC1;
  border-radius: 10px;
  padding: 2px 10px;
}


.panel-user .select2.select2-container.select2-container--bootstrap-5 {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ostan-list {
  background: url('../image/Vector.png') repeat-x;
}

.ostan-list .chose_ostan {
  margin-top: -51px;
  width: 15%;
}

.ostan-list .ostan {
  background:
    linear-gradient(-90deg, rgba(55, 190, 193, 1) 0%, rgba(57, 60, 151, 1) 100%),
    url('../image/Vector.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
}


#subject_tagsinput {
  float: right;
  border-color: #000;
}


#subject_tagsinput span,
#subject_tagsinput #subject_addTag {
  float: right;
}

#subject_tagsinput span {
  border: none;
  background: #f6f7f4;
  color: #000000;

}

#subject_tagsinput span a {
  font-weight: 700;
  color: red;
  text-decoration: none;
  font-size: 11px;
}


#all_subject {
  float: right;
}

#all_subject span {
  float: right !important;
  background: #cde69c;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  color: #638421;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
  cursor: pointer;
}

#all_subject span.active {
  background-color: red !important;
  color: #FFFFFF !important;
}

.btn-atlas-reset,
.btn-atlas-reset:hover {
  border-color: #393C97;
  color: #393C97;
}

.btn-atlas-submit {
  border-color: #393C97;
  background-color: #393C97;

}

.btn-atlas-submit:hover {
  background-color: #898BC4;
}



#search-filter select::selection {
  background-color: #898BC4;
}

#age option::selection {
  color: #898BC4;
}

#search-filter label {
  color: #393C97;
}

#select2-select2home-container {
  text-align: right;
}

.modal-body .select2-container--bootstrap5 {
  width: 100% !important;
}

.filter-box .select2-container--search,
.modal-body .select2-container--bootstrap5 {

  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: .375rem .75rem .375rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: left .75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.logo-img {
  height: 100px;
}

@media (max-width: 768px) {

  .atlas-subject {
    width: 98% !important;
  }

  .atlas-block-info {
    font-size: 14px;
  }

  .map-city-parent {
    position: unset;
    margin-bottom: 20px;
  }

  .atlas-search {
    flex-direction: column;
    align-items: center;
  }

  .search-img,
  header .search-button {
    width: 24px;
    height: 24px;
  }

  .search-img {
    margin-bottom: 8px;
  }

  .home-search-box-input {
    text-align: center;
  }

  .home-search-box {
    padding: 15px 0px !important;
  }

  .home-btn {
    justify-content: center;
  }

  .ostan {
    font-size: 14px;
    padding: 8px;
  }


  .logo-img {
    height: 80px;
  }



  .ostan-list .chose_ostan {
    margin-top: -24px;
    width: 35%;
  }
}

@media (max-width: 576px) {

  .home-search-box img,
  .ostan {
    width: 100% !important;
  }

  .home-search-box-input select {
    font-size: 14px;
    padding: 15px 10px;
  }
}

@media (max-width: 999px) {

  .home-search-box-input {
    width: 100%;
  }

  .atlas-row {
    width: 100%;
  }

  .ostan-list .chose_ostan {
    margin-top: -33px;
    width: 20%;
  }

  .w-75 {
    width: 95% !important;

  }

}

@media (min-width: 1000px) {

  .ostan-list #ostan-items-row .ostan-item {

    width: 14.25% !important;

  }

}